.relatedDoctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 60px 0;
    color: black;
   
}
.relDoc-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Always maintain 5 columns */
    gap: 16px; /* Space between cards */
    justify-items: center; /* Center items within their grid cells */
}
.relDoc-item  {
    display: flex;
    flex-direction: column;
    border: 1px solid #bec4f7;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.relDoc-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.relDoc-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .relDoc-lists {
        flex-direction: column;
        grid-template-columns: auto;
        gap: 1rem;
    }
}
