.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 160px;
    cursor: pointer;
}
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}
.navbar button {
    background-color: transparent;
    font-size: 16px;
    color: white;
    background-color: #5f6FFF;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #5f6FFF;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #374af2;
}
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #5f6FFF;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}
.navbar-profile {
    display: flex;
    gap: 8px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
    position: relative;
}
.navbar-profile-pic {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    transform: translateY(10px); 
    flex-direction: column;
    padding: 12px 16px;
    border-radius: 8px;
    z-index: 1;
}
.buffer-area {
    position: absolute;
    height: 10px; /* Height of the gap */
    width: 100%; 
    top: 100%; 
}
.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    background-color: rgb(226, 226, 226);
    color: gray;
}
.nav-profile-dropdown li {
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
}
.nav-profile-dropdown li:hover {
    color: black;
}
