@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.app {
    width: 80%;
    margin: auto;
}
.bg-color-primary {
    background-color: #5f6FFF;
}

.bg-color-img {
    background-color: #dfe1f6;
}

::-webkit-scrollbar {
    height: 8px;
}
  
