.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 8px;
}

.banner-leftside {
    flex-grow: 1;
    padding: 32px 0;
}

.banner-description {
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.banner-desc {
    margin-top: 16px;
}

.banner-rightside {
    width: 50%;
    display: flex;
    justify-content: flex-start;  /* Align image to the left */
    align-items: center;         /* Center the image vertically */
}

.banner-rightside img {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}

.banner-btn {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    color: rgb(75 85 99);
    background-color: white;
    margin-top: 16px;
    padding: 12px 32px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-btn:hover {
    transform: scale(1.05);
    color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .banner-leftside {
        padding: 16px 0;
    }

    .banner-description {
        font-size: 20px;
    }

    .banner-rightside {
        width: 100%;
        position: static;
        display: flex;
        justify-content: center;  /* Center image on small screens */
    }

    .banner-rightside img {
        display: none;
    }

    .banner-btn {
        font-size: 14px;
        padding: 10px 24px;
        width: fit-content; 
        margin: 16px auto 0 auto; 
    }
}
